<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ invoice.name }}</title>
    <style>
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        h1, h2, h3, h4, h5, h6, p, span, div {
            font-family: DejaVu Sans;
            font-size: 10px;
            font-weight: normal;
        }

        th, td {
            font-family: DejaVu Sans;
            font-size: 10px;
        }

        .panel {
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        }

        .panel-default {
            border-color: #ddd;
        }

        .panel-body {
            padding: 15px;
        }

        table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 0px;
            border-spacing: 0;
            border-collapse: collapse;
            background-color: transparent;

        }

        thead {
            text-align: left;
            display: table-header-group;
            vertical-align: middle;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 6px;
        }

        .well {
            min-height: 20px;
            padding: 19px;
            margin-bottom: 20px;
            background-color: #f5f5f5;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        }
    </style>
    {% if setting.duplicationHeader %}
        <style>
            @page {
                margin-top: 140px;
            }

            header {
                top: -100px;
                position: fixed;
            }
        </style>
    {% endif %}
</head>
<body>
<header>
    <div style="position:absolute; left:0pt; width:250pt;">
        <img class="img-rounded" height="{{ setting.logo.height }}" src="{{ setting.logo.file }}">
    </div>
    <div style="margin-left:300pt;">

        <b>Date: </b> {{ invoice.date.format(setting.duedate.format) }}<br/>
        {% if setting.duedate %}
            <b>Due date: </b>{{ setting.duedate.date.format(setting.duedate.format) }}<br/>
        {% endif %}
        {% if invoice.number %}
            <b>Invoice #: </b> {{ invoice.number }}
        {% endif %}
        <br/>
    </div>
    <br/>
    <h2>{{ invoice.name }} {{ invoice.number ? '#' ~ invoice.number : '' }}</h2>
</header>
<main>
    <div style="clear:both; position:relative;">
        <div style="position:absolute; left:0pt; width:250pt;">
            <h4>Business Details:</h4>
            <div class="panel panel-default">
                <div class="panel-body">

                    {{ setting.businessDetails.name }}<br/>
                    ID: {{ setting.businessDetails.id }}<br/>
                    {{ setting.businessDetails.phone }}<br/>
                    {{ setting.businessDetails.location }}<br/>
                    {{ setting.businessDetails.zip }} {{ setting.businessDetails.city }}
                    {{ setting.businessDetails.country }}<br/>
                </div>
            </div>
        </div>
        <div style="margin-left: 300pt;">
            <h4>Customer Details:</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ invoice.customerDetails.name }}<br/>
                    ID: {{ invoice.customerDetails.id }}<br/>
                    {{ invoice.customerDetails.phone }}<br/>
                    {{ invoice.customerDetails.location }}<br/>
                    {{ invoice.customerDetails.zip }} {{ invoice.customerDetails.city }}
                    {{ invoice.customerDetails.country }}<br/>
                </div>
            </div>
        </div>
    </div>
    <h4>Items:</h4>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            {% if setting.shouldDisplayImage %}
                <th>Image</th>
            {% endif %}
            <th>ID</th>
            <th>Item Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for item in  invoice.items %}
            <tr>
                <td>{{ loop.index0 }}</td>
                {% if setting.shouldDisplayImage %}
                    <td>{% if item.image is defined %} <img src="{{ item.image }}"/>{% endif %}</td>
                    %}
                {% endif %}
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }} {{ symbol() }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ total(item.price, item.amount) }} {{ symbol() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="clear:both; position:relative;">
        {% if invoice.notes %}
            <div style="position:absolute; left:0pt; width:250pt;">
                <h4>Notes:</h4>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ invoice.notes|raw }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div style="margin-left: 300pt;">
            <h4>Total:</h4>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td><b>Subtotal</b></td>
                    <td>{{ subTotal(invoice.items) }} {{ symbol() }}</td>
                </tr>
                {% for  taxRate in setting.taxRates %}
                    <tr>
                        <td>
                            <b>
                                {{ taxRate.name }} {% if taxRate.type == 'percentage' %} ('{{ taxRate.tax }} '%)' {% else %}  {% endif %}
                            </b>
                        </td>
                        <td>{{ taxFormatted(invoice.items, taxRate) }} {{ symbol() }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td><b>TOTAL</b></td>
                    <td><b>{{ totalPriceFormatted(invoice.items) }} {{ symbol() }}</b></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% if setting.footnote %}
        <br/><br/>
        <div class="well">
            {{ invoice.footnote }}
        </div>
    {% endif %}
</main>
</body>
</html>
